@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GilroyRegular";
  src: url("/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GilroyMedium";
  src: url("/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GilroyBold";
  src: url("/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PoppinsRegular";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PoppinsSemiBold";
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.cl-cardBox {
  box-shadow: none;
}
.cl-header {
  display: none;
}
.cl-footer {
  background: transparent;
}
/* .cl-button__manageAccount {
  display: none;
} */
